#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
	font:400 12px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#contact-form {
	text-shadow:0 1px 0 #FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#F9F9F9;
	padding:25px;
}
#contact-form h3 {
	color:#911212;
	display:block;
	font-size:28px;
}
#contact-form h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}
#contact-form label span {
	cursor:pointer;
	color:#2b339e;
	display:block;
	margin:5px 0;
	font-weight:900;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact-form textarea {
	height:100px;
	max-width:100%;
}
#contact-form button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#991D57;
	background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form button[type="submit"]:hover {
	background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
#contact-form input:focus,
#contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}

@import url(http://fonts.googleapis.com/css?family=Capriola);

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a 
{
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: 'Capriola', sans-serif;
}

#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after 
{
  content: '';
  display: table;
}

#cssmenu:after,
#cssmenu > ul:after 
{
  clear: both;
}

#cssmenu 
{
  zoom: 1;
  height: 69px;
  background: url('bottom-bg.png') repeat-x center bottom;
  border-radius: 2px;
  width: auto;
}

#cssmenu ul 
{
  background: url('nav-bg.png') repeat-x 0px 4px;
  height: 69px;
}

#cssmenu ul li 
{
  float: left;
  list-style: none;
}

#cssmenu ul li a 
{
  display: block;
  height: 37px;
  padding: 22px 30px 0;
  margin: 4px 2px 0;
  border-radius: 2px 2px 0 0;
  text-decoration: none;
  font-size: 12px;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  font-weight: 400;
  opacity: .9;
}

#cssmenu ul li:first-child a
{
  margin: 4px 2px 0 0;
}

#cssmenu ul li a:hover,
#cssmenu ul li.active a 
{
  background: url('color.png') center bottom;
  display: block;
  height: 37px;
  margin-top: 0px;
  padding-top: 26px;
  color: #004f7c;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.55);
  opacity: 1;
}

h1 
{  
	margin-left: 70px;  
}  

div[id]
{
	clear: right;
}

form li 
{  
	list-style: none;  
	margin-bottom: 5px;  
}  
  
form ul li label
{  
	float: left;  
	clear: left;  
	width: 200px;  
	text-align: right;  
	margin-bottom: 10px;  
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	font-size:14px;  
}  
  
form ul li input, select, span 
{  
	float: left;  
	margin-bottom: 10px;  
}  
  
form textarea 
{    
	width: 350px;  
	height: 150px;  
}  
   
p 
{  
	margin-left: 70px;  
	font-weight: bold;  
}  

div.contact_submit
{
	margin-left: 100px;
}

[type="submit"]
{
	-moz-box-shadow:inset 3px 0px 26px 0px #f0f8ff;
	-webkit-box-shadow:inset 3px 0px 26px 0px #f0f8ff;
	box-shadow:inset 3px 0px 26px 0px #f0f8ff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #113e6b), color-stop(1, #0f84fa) );
	background:-moz-linear-gradient( center top, #113e6b 5%, #0f84fa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#113e6b', endColorstr='#0f84fa');
	background-color:#113e6b;
	-webkit-border-top-left-radius:33px;
	-moz-border-radius-topleft:33px;
	border-top-left-radius:33px;
	-webkit-border-top-right-radius:33px;
	-moz-border-radius-topright:33px;
	border-top-right-radius:33px;
	-webkit-border-bottom-right-radius:33px;
	-moz-border-radius-bottomright:33px;
	border-bottom-right-radius:33px;
	-webkit-border-bottom-left-radius:33px;
	-moz-border-radius-bottomleft:33px;
	border-bottom-left-radius:33px;
	text-indent:-3px;
	border:3px solid #fc1239;
	display:inline-block;
	color:#f5f5f5;
	font-family:Arial Black;
	font-size:12px;
	font-style:italic;
	height:35px;
	line-height:29px;
	width:159px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 0px 7px #000000;
	
}

[type="button"]
{
	-moz-box-shadow:inset 3px 0px 26px 0px #f0f8ff;
	-webkit-box-shadow:inset 3px 0px 26px 0px #f0f8ff;
	box-shadow:inset 3px 0px 26px 0px #f0f8ff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #113e6b), color-stop(1, #0f84fa) );
	background:-moz-linear-gradient( center top, #113e6b 5%, #0f84fa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#113e6b', endColorstr='#0f84fa');
	background-color:#113e6b;
	-webkit-border-top-left-radius:33px;
	-moz-border-radius-topleft:33px;
	border-top-left-radius:33px;
	-webkit-border-top-right-radius:33px;
	-moz-border-radius-topright:33px;
	border-top-right-radius:33px;
	-webkit-border-bottom-right-radius:33px;
	-moz-border-radius-bottomright:33px;
	border-bottom-right-radius:33px;
	-webkit-border-bottom-left-radius:33px;
	-moz-border-radius-bottomleft:33px;
	border-bottom-left-radius:33px;
	text-indent:-3px;
	border:3px solid #fc1239;
	display:inline-block;
	color:#f5f5f5;
	font-family:Arial Black;
	font-size:12px;
	font-style:italic;
	height:35px;
	line-height:29px;
	width:159px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 0px 7px #000000; 
}


