#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
	font:400 12px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#contact-form {
	text-shadow:0 1px 0 #FFF;
	background:url(bird.png) no-repeat;
	padding:25px;
}
#contact-form h3 {
	color:#911212;
	display:block;
	font-size:28px;
}
#contact-form h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}
#contact-form label span {
	cursor:pointer;
	color:#2b339e;
	display:block;
	margin:5px 0;
	font-weight:900;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact-form textarea {
	height:100px;
	max-width:100%;
}
#contact-form button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#991D57;
	background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form button[type="submit"]:hover {
	background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
#contact-form input:focus,
#contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}

@import url(http://fonts.googleapis.com/css?family=Capriola);

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a 
{
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: 'Capriola', sans-serif;
}

#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after 
{
  display: table;
}

#cssmenu:after,
#cssmenu > ul:after 
{
  clear: both;
}

#cssmenu 
{
  zoom: 0;
  height: 69px;
  background: url('bottom.png') repeat-x center bottom;
  border-radius: 2px;
  width: 1000px;
}

#cssmenu ul 
{
  background: url('nav.png') repeat-x 0px 4px;
  height: 69px;
}

#cssmenu ul li 
{
  float: left;
  list-style: none;
}

#cssmenu ul li a 
{
  display: block;
  height: 37px;
  padding: 22px 30px 0;
  margin: 4px 2px 0;
  border-radius: 2px 2px 0 0;
  text-decoration: none;
  font-size: 12px;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  font-weight: 400;
  opacity: 9;
}

#cssmenu ul li:first-child a
{
  margin: 4px 2px 0 0;
}

#cssmenu ul li a:hover, #cssmenu ul li.active a 
{
  background: url('color.png');
  color: #004f7c;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.55);
  opacity: 1;
}


body
{
	background-color: white;
}

h1
{
font-family: 'Times New Roman', Times, sans-serif;
line-height: 1em;
color: #6d82e8;
font-style:italic;
font-size: 32px;
text-shadow:0px 0px 0 rgb(77,98,200),1px 1px 0 rgb(56,77,179),2px 2px 0 rgb(34,55,157),3px 3px 0 rgb(12,33,135), 4px 4px 0 rgb(-10,11,113),5px 5px 4px rgba(0,0,0,1),5px 5px 1px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2);
}

h2
{
font-family: 'Times New Roman', Times, sans-serif;
line-height: 1em;
color: #0a8bfc;
font-style:italic;
font-size: 26px;
text-shadow:0px 0px 0 rgb(-36,93,206),1px -1px 0 rgb(-82,47,160),2px -2px 0 rgb(-128,1,114),3px -3px 0 rgb(-174,-45,68), 4px -4px 0 rgb(-220,-91,22),5px -5px 4px rgba(0,0,0,1),5px -5px 1px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2);
}

h3
{
font-family: 'Times New Roman', Times, sans-serif;
line-height: 1em;
color: #eb679c;
font-style:italic;
font-size: 26px;
text-shadow:0px 0px 0 rgb(189,57,110),-1px 1px 0 rgb(143,11,64),-2px 2px 0 rgb(97,-35,18),-3px 3px 0 rgb(51,-81,-28), -4px 4px 0 rgb(5,-127,-74),-5px 5px 4px rgba(0,0,0,1),-5px 5px 1px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2);
}

h4
{
font-family: Garamond, serif;
line-height: 1em;
color: #1eaaeb;
font-weight:bold;
font-size: 38px;
text-shadow:0px 0px 0 rgb(-6,134,199),1px 0px 0 rgb(-35,105,170),2px 0px 0 rgb(-64,76,141),3px 0px 0 rgb(-94,46,111),4px 0px 0 rgb(-123,17,82),5px 0px 0 rgb(-152,-12,53), 6px 0px 0 rgb(-181,-41,24),7px 0px 6px rgba(0,0,0,0.6),7px 0px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}

p 
{
	margin: 0px;
}

p1
{
	border:1px solid #666;
}

#welcomeMessage 
{
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"]
{
	width: 250px;
}

span
{
	margin-left: 10px;
	display: inline-block;
	width: 100px;
}

li
{
	list-style-type: none;
	width: 220px;
}

li:first-child
{
	border-top: 1px;
}

li:nth-child(even)
{
	border-bottom: 1px solid gray;
}

li:nth-child(odd)
{
	border-bottom: 1px solid gray;

}

input[type="button"]
{
	font-style: italic;
	color: #ff00c8;
}






